

CREATE VIEW public.vw_dov_data_full AS
 SELECT dd."Id" AS dov_data_id,
    dd."ReceivedAt" AS received_at,
    dd."DataTimestamp" AS data_timestamp,
    dd."VisibleRange" AS visible_range,
    dd."BrightFlag" AS bright_flag,
    s."Id" AS sensor_id,
    s."Longitude" AS sensor_longitude,
    s."Latitude" AS sensor_latitude,
    s."SerialNumber" AS serial_number,
    s."EndPointsName" AS endpoint_name,
    s."Url" AS sensor_url,
    s."LastActivityUTC" AS last_activity_utc,
    s."IsActive" AS sensor_is_active,
    st."Id" AS sensor_type_id,
    st."SensorTypeName" AS sensor_type_name,
    st."Description" AS sensor_type_description,
    mp."Id" AS post_id,
    mp."Name" AS post_name,
    mp."Address" AS post_address,
    mp."Description" AS post_description,
    mp."IsMobile" AS post_is_mobile,
    mp."IsActive" AS post_is_active,
    ps."Id" AS polling_session_id
   FROM ((((public."DOVData" dd
     LEFT JOIN public."Sensor" s ON ((dd."SensorId" = s."Id")))
     LEFT JOIN public."SensorType" st ON ((s."SensorTypeId" = st."Id")))
     LEFT JOIN public."MonitoringPost" mp ON ((s."MonitoringPostId" = mp."Id")))
     LEFT JOIN public."PollingSessions" ps ON ((dd."PollingSessionId" = ps."Id")));


ALTER VIEW public.vw_dov_data_full OWNER TO postgres;

--
-- Name: vw_dspd_data_full; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_dspd_data_full AS
 SELECT dd."Id" AS dspd_data_id,
    dd."ReceivedAt" AS received_at,
    dd."DataTimestamp" AS data_timestamp,
    dd."Grip" AS grip_coefficient,
    dd."Shake" AS shake_level,
    dd."UPower" AS voltage_power,
    dd."TemperatureCase" AS case_temperature,
    dd."TemperatureRoad" AS road_temperature,
    dd."HeightH2O" AS water_height,
    dd."HeightIce" AS ice_height,
    dd."HeightSnow" AS snow_height,
    dd."PercentICE" AS ice_percentage,
    dd."PercentPGM" AS pgm_percentage,
    dd."RoadStatus" AS road_status_code,
    dd."AngleToRoad" AS road_angle,
    dd."TemperatureFreezePGM" AS freeze_temperature,
    dd."NeedCalibration" AS calibration_needed,
    dd."GPSLatitude" AS gps_latitude,
    dd."GPSLongitude" AS gps_longitude,
    dd."IsGpsValid" AS gps_valid,
    dd."DistanceToSurface" AS distance_to_surface,
    s."Id" AS sensor_id,
    s."Longitude" AS sensor_longitude,
    s."Latitude" AS sensor_latitude,
    s."SerialNumber" AS serial_number,
    s."EndPointsName" AS endpoint_name,
    s."Url" AS sensor_url,
    s."LastActivityUTC" AS last_activity_utc,
    s."IsActive" AS sensor_is_active,
    st."Id" AS sensor_type_id,
    st."SensorTypeName" AS sensor_type_name,
    st."Description" AS sensor_type_description,
    mp."Id" AS post_id,
    mp."Name" AS post_name,
    mp."Address" AS post_address,
    mp."Description" AS post_description,
    mp."IsMobile" AS post_is_mobile,
    mp."IsActive" AS post_is_active,
    ps."Id" AS polling_session_id
   FROM ((((public."DSPDData" dd
     LEFT JOIN public."Sensor" s ON ((dd."SensorId" = s."Id")))
     LEFT JOIN public."SensorType" st ON ((s."SensorTypeId" = st."Id")))
     LEFT JOIN public."MonitoringPost" mp ON ((s."MonitoringPostId" = mp."Id")))
     LEFT JOIN public."PollingSessions" ps ON ((dd."PollingSessionId" = ps."Id")));


ALTER VIEW public.vw_dspd_data_full OWNER TO postgres;

--
-- Name: vw_dust_data_full; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_dust_data_full AS
 SELECT dd."Id" AS dust_data_id,
    dd."ReceivedAt" AS received_at,
    dd."DataTimestamp" AS data_timestamp,
    dd."PM10Act" AS pm10act,
    dd."PM25Act" AS pm25act,
    dd."PM1Act" AS pm1act,
    dd."PM10AWG" AS pm10awg,
    dd."PM25AWG" AS pm25awg,
    dd."PM1AWG" AS pm1awg,
    dd."FlowProbe" AS flowprobe,
    dd."TemperatureProbe" AS temperatureprobe,
    dd."HumidityProbe" AS humidityprobe,
    dd."LaserStatus" AS laserstatus,
    dd."SupplyVoltage" AS supplyvoltage,
    s."Id" AS sensor_id,
    s."Longitude" AS sensor_longitude,
    s."Latitude" AS sensor_latitude,
    s."SerialNumber" AS serial_number,
    s."EndPointsName" AS endpoint_name,
    s."Url" AS sensor_url,
    s."LastActivityUTC" AS last_activity_utc,
    s."IsActive" AS sensor_is_active,
    st."Id" AS sensor_type_id,
    st."SensorTypeName" AS sensor_type_name,
    st."Description" AS sensor_type_description,
    mp."Id" AS post_id,
    mp."Name" AS post_name,
    mp."Address" AS post_address,
    mp."Description" AS post_description,
    mp."IsMobile" AS post_is_mobile,
    mp."IsActive" AS post_is_active,
    ps."Id" AS polling_session_id
   FROM ((((public."DustData" dd
     LEFT JOIN public."Sensor" s ON ((dd."SensorId" = s."Id")))
     LEFT JOIN public."SensorType" st ON ((s."SensorTypeId" = st."Id")))
     LEFT JOIN public."MonitoringPost" mp ON ((s."MonitoringPostId" = mp."Id")))
     LEFT JOIN public."PollingSessions" ps ON ((dd."PollingSessionId" = ps."Id")));


ALTER VIEW public.vw_dust_data_full OWNER TO postgres;

--
-- Name: vw_iws_data_full; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_iws_data_full AS
 SELECT iws."Id" AS iws_data_id,
    iws."ReceivedAt" AS received_at,
    iws."DataTimestamp" AS data_timestamp,
    iws."EnvTemperature" AS environment_temperature,
    iws."Humidity" AS humidity_percentage,
    iws."DewPoint" AS dew_point,
    iws."PressureHPa" AS pressure_hpa,
    iws."PressureQNHHPa" AS pressure_qnh_hpa,
    iws."PressureMmHg" AS pressure_mmhg,
    iws."WindSpeed" AS wind_speed,
    iws."WindDirection" AS wind_direction,
    iws."WindVSound" AS wind_vs_sound,
    iws."PrecipitationType" AS precipitation_type,
    iws."PrecipitationIntensity" AS precipitation_intensity,
    iws."PrecipitationQuantity" AS precipitation_quantity,
    iws."PrecipitationElapsed" AS precipitation_elapsed,
    iws."PrecipitationPeriod" AS precipitation_period,
    iws."CO2Level" AS co2_level,
    iws."SupplyVoltage" AS supply_voltage,
    iws."Latitude" AS iws_latitude,
    iws."Longitude" AS iws_longitude,
    iws."Altitude" AS altitude,
    iws."KSP" AS ksp_value,
    iws."GPSSpeed" AS gps_speed,
    iws."AccelerationStDev" AS acceleration_std_dev,
    iws."Roll" AS roll_angle,
    iws."Pitch" AS pitch_angle,
    iws."WeAreFine" AS status_ok,
    s."Id" AS sensor_id,
    s."Longitude" AS sensor_longitude,
    s."Latitude" AS sensor_latitude,
    s."SerialNumber" AS serial_number,
    s."EndPointsName" AS endpoint_name,
    s."Url" AS sensor_url,
    s."LastActivityUTC" AS last_activity_utc,
    s."IsActive" AS sensor_is_active,
    st."Id" AS sensor_type_id,
    st."SensorTypeName" AS sensor_type_name,
    st."Description" AS sensor_type_description,
    mp."Id" AS post_id,
    mp."Name" AS post_name,
    mp."Address" AS post_address,
    mp."Description" AS post_description,
    mp."IsMobile" AS post_is_mobile,
    mp."IsActive" AS post_is_active,
    ps."Id" AS polling_session_id
   FROM ((((public."IWSData" iws
     LEFT JOIN public."Sensor" s ON ((iws."SensorId" = s."Id")))
     LEFT JOIN public."SensorType" st ON ((s."SensorTypeId" = st."Id")))
     LEFT JOIN public."MonitoringPost" mp ON ((s."MonitoringPostId" = mp."Id")))
     LEFT JOIN public."PollingSessions" ps ON ((iws."PollingSessionId" = ps."Id")));


ALTER VIEW public.vw_iws_data_full OWNER TO postgres;

--
-- Name: vw_meteo_standart_last; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_meteo_standart_last AS
 SELECT ps."Id" AS "PollingSessionId",
    ps."MonitoringPostId",
    ps."StartedAt",
    ps."CompletedAt",
    ps."Status",
    dov."VisibleRange",
    iws."EnvTemperature",
    iws."Humidity",
    iws."DewPoint",
    iws."PressureHPa",
    iws."PressureQNHHPa",
    iws."PressureMmHg",
    iws."WindSpeed",
    iws."WindDirection",
    iws."WindVSound",
    iws."PrecipitationType",
    iws."PrecipitationIntensity",
    iws."PrecipitationQuantity",
    iws."PrecipitationElapsed",
    iws."PrecipitationPeriod",
    dspd."Grip",
    dspd."Shake",
    dspd."UPower",
    dspd."TemperatureCase",
    dspd."TemperatureRoad",
    dspd."HeightH2O",
    dspd."HeightIce",
    dspd."HeightSnow",
    dspd."PercentICE",
    dspd."PercentPGM",
    dspd."RoadStatus",
    dspd."AngleToRoad",
    dspd."TemperatureFreezePGM",
    mueks."OwenCh1"
   FROM ((((public."PollingSessions" ps
     LEFT JOIN public."DOVData" dov ON ((ps."Id" = dov."PollingSessionId")))
     LEFT JOIN public."IWSData" iws ON ((ps."Id" = iws."PollingSessionId")))
     LEFT JOIN public."DSPDData" dspd ON ((ps."Id" = dspd."PollingSessionId")))
     LEFT JOIN public."MUEKSData" mueks ON ((ps."Id" = mueks."PollingSessionId")))
  WHERE (ps."Id" = ( SELECT "PollingSessions"."Id"
           FROM public."PollingSessions"
          WHERE (("PollingSessions"."Status")::text <> 'IN_PROGRESS'::text)
          ORDER BY "PollingSessions"."CompletedAt" DESC
         LIMIT 1))
  ORDER BY dov."Id", iws."Id", dspd."Id";


ALTER VIEW public.vw_meteo_standart_last OWNER TO postgres;

--
-- Name: vw_mueks_data_full; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_mueks_data_full AS
 SELECT pd."Id" AS mueks_data_id,
    pd."ReceivedAt" AS received_at,
    pd."DataTimestamp" AS data_timestamp,
    pd."TemperatureBox" AS temperature_box,
    pd."UPowerIn12B" AS voltage_power_in_12b,
    pd."UOut12B" AS voltage_out_12b,
    pd."IOut12B" AS current_out_12b,
    pd."IOut48B" AS current_out_48b,
    pd."UAkb" AS voltage_akb,
    pd."IAkb" AS current_akb,
    pd."Sens220B" AS sensor_220b,
    pd."WhAkb" AS watt_hours_akb,
    pd."VisibleRange" AS visible_range,
    pd."DoorStatus" AS door_status,
    pd."TdsH" AS tds_h,
    pd."TdsTds" AS tds_tds,
    pd."TkosaT1" AS tkosa_t1,
    pd."TkosaT3" AS tkosa_t3,
    pd."OwenCh1" AS owen_ch1,
    pd."OwenCh2" AS owen_ch2,
    s."Id" AS sensor_id,
    s."Longitude" AS sensor_longitude,
    s."Latitude" AS sensor_latitude,
    s."SerialNumber" AS serial_number,
    s."EndPointsName" AS endpoint_name,
    s."Url" AS sensor_url,
    s."LastActivityUTC" AS last_activity_utc,
    s."IsActive" AS sensor_is_active,
    st."Id" AS sensor_type_id,
    st."SensorTypeName" AS sensor_type_name,
    st."Description" AS sensor_type_description,
    mp."Id" AS post_id,
    mp."Name" AS post_name,
    mp."Address" AS post_address,
    mp."Description" AS post_description,
    mp."IsMobile" AS post_is_mobile,
    mp."IsActive" AS post_is_active,
    ps."Id" AS polling_session_id
   FROM ((((public."MUEKSData" pd
     LEFT JOIN public."Sensor" s ON ((pd."SensorId" = s."Id")))
     LEFT JOIN public."SensorType" st ON ((s."SensorTypeId" = st."Id")))
     LEFT JOIN public."MonitoringPost" mp ON ((s."MonitoringPostId" = mp."Id")))
     LEFT JOIN public."PollingSessions" ps ON ((pd."PollingSessionId" = ps."Id")));


ALTER VIEW public.vw_mueks_data_full OWNER TO postgres;
