@model BurstroyMonitoring.Data.Models.ViewModels.SensorSelectionViewModel

@{
    ViewData["Title"] = "Графики и диаграммы";
}

<div class="container mt-4">
<!-- <div> -->
    <div class="card mt-4">
        <div class="card-header">
            <h5>Выбор сенсора</h5>
        </div>
        <div class="card-body">
            <form id="sensorForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="monitoringPostSelect">Пост мониторинга</label>
                            <select id="monitoringPostSelect" class="form-control" 
                                    asp-for="SelectedMonitoringPostId" 
                                    asp-items="Model.MonitoringPosts">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sensorSelect">Сенсор</label>
                            <select id="sensorSelect" class="form-control" 
                                    asp-for="SelectedSensorId" 
                                    asp-items="Model.Sensors" disabled>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="sensorDataContainer" class="mt-4">
        <!-- Здесь будут отображаться данные выбранного сенсора -->
    </div>
</div>

@section Scripts {
    
    
    <script src="~/js/lib/bootstrap.bundle.min.js"></script>---
    
    <!-- Chart.js и зависимости -->
    <script src="~/js/lib_chart/chart.js"></script>
    <script src="~/js/lib_chart/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="~/js/lib_chart/moment.min.js"></script>
    <script src="~/js/lib_chart/moment.ru.min.js"></script>
    
    <!-- noUiSlider (ВАЖНО: должен быть загружен до dov-charts.js) -->
    <script src="~/js/lib_chart/nouislider.min.js"></script>
    <script src="~/js/lib_chart/wNumb.min.js"></script>
    
    <script src="~/js/lib_chart/chart-utils.js" asp-append-version="true"></script>
    <script src="~/js/lib_chart/auto-update.js" asp-append-version="true"></script>
    <script src="~/js/lib_chart/date-range-slider.js" asp-append-version="true"></script>
    
    
    <!-- Пользовательские скрипты -->
   
    <script src="~/js/lib_chart/dov-charts.js" asp-append-version="true"></script>
    <script src="~/js/lib_chart/dspd-charts.js" asp-append-version="true"></script>
    <script src="~/js/lib_chart/dust-charts.js" asp-append-version="true"></script>
    <script src="~/js/lib_chart/iws-charts.js" asp-append-version="true"></script>
    <script src="~/js/lib_chart/mueks-charts.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            // Каскадные списки
            $('#monitoringPostSelect').change(function () {
                var postId = $(this).val();
                
                if (postId) {
                    $('#sensorSelect').prop('disabled', false);
                    
                    $.getJSON('/GraphsAndCharts/GetSensorsByPost', { monitoringPostId: postId }, function (data) {
                        $('#sensorSelect').empty();
                        $.each(data, function (index, item) {
                            $('#sensorSelect').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    });
                } else {
                    $('#sensorSelect').prop('disabled', true).empty();
                    $('#sensorSelect').append($('<option>', {
                        value: "",
                        text: "Сначала выберите пост мониторинга"
                    }));
                    $('#sensorDataContainer').empty();
                }
            });

            // Загрузка данных сенсора
            $('#sensorSelect').change(function () {
                var sensorId = $(this).val();
                
                if (sensorId) {
                    $.get('/GraphsAndCharts/GetSensorData', { sensorId: sensorId }, function (data) {
                        $('#sensorDataContainer').html(data);
                    });
                } else {
                    $('#sensorDataContainer').empty();
                }
            });
        });
    </script>
}